<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="/styles.css" />
  
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  
</head>
<body>
  <script>0</script>
  <h2>Upload a file!</h2>
  <form action="/upload" method = "POST" enctype="multipart/form-data">
    <input type="file" id="myFile" name="uploaded_file">
    <input type="submit" value = "Submit File">
  </form>



  <% if(files) { %>
    <h2> Your current files </h2>
      <ul class = files>     
      <% for(file of files){ %>  
        <li><%= file.file_name %> 
          <form action ="/sendToFolder" method ="POST">
            <input type ="hidden" name = "file_id" value = <%= file.id %> >
            <label for = "folders">Select a folder to send to.</label>
            <select name = "folders" id = folders>
              <% for(folder of folders) { %>
                <option value = <%= folder.id %>> <%= folder.folder_name %> </option>
              <% }%>
            </select>
            <input type="submit" value="Send to folder">
          </form>
          <form action = "/deleteFile" method ="POST"> 
            <input type = "hidden" name = "file_id" value = <%= file.id %> >
            <input type = "hidden" name = "file_name" value = <%= file.file_name %> >
            <input type="submit" value= "delete">
          </form>
          <form action = "/viewFile" method ="get"> 
            <input type = "hidden" name = "file_id" value = <%= file.id %> >
            <input type="submit" value= "view">
          </form>
          <form action = "/download" method ="get"> 
            <input type = "hidden" name = "file_name" value = <%= file.file_name %> >
            <input type = "hidden" name = "file_id" value = <%= file.id %> >
            <input type="submit" value= "download">
          </form>
        </li> 
      <% } %>
      </ul>
 <% } %>

 <% if(fileFound) { %>
   <h2>Selected File</h2>
   <ul>
    <li>File Name: <%= fileFound.file_name %> </li>
    <% if(folderName) {%>
    <li>Folder: <%= folderName %></li>
    <% } %>
    <li>Size: <%= fileFound.size / 1000000 %> MB</li>
    <li>Date Created: <%= fileFound.date_created %></li>
   </ul>
 <% } %>

 <h2>Create a folder!</h2>
 <form action="/createFolder" method = "POST">
   <input type="text" id="folderName" placeholder ="Enter a folder name!" name="folderName">
   <input type = "submit" value ="Create Folder">
 </form>

  <% if(folders) { %>
     <h2> Your current folders </h2>
     <% for(folder of folders){ %>
        <div class = "folder">
          <div>
          <h3> <%= folder.folder_name %> !!</h3>
          <form action = "/viewFolder" method ="get"> 
            <input type = "hidden" name = "folder_id" value = <%=folder.id  %> >
            <input type="submit" value= "View Folder">
          </form>
          </div>
          <ul class = files>
            <% for (file of folder.files){ %>
              <li> <%= file.file_name %> 
                <form action = "/removeFromFolder" method ="POST" > 
                  <input type = "hidden" name = "file_id" value = <%= file.id %> >
                  <input type = "hidden" name = "folder_id" value = <%= file.folder_id %> >
                  <input type="submit" value= "remove">
                </form>
                <form action = "/viewFile" method ="get"> 
                  <input type = "hidden" name = "file_id" value = <%= file.id %> >
                  <input type="submit" value= "view">
                </form>
                <form action = "/download" method ="get"> 
                  <input type = "hidden" name = "file_name" value = <%= file.file_name %> >
                  <input type="submit" value= "download">
                </form>
              </li>   
            <% } %>
          </ul>
        </div>
      <% } %>
  <% } %>

</body>
</html>